@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Croissant+One&family=Dancing+Script&family=Kanit:ital,wght@0,300;0,400;0,500;0,700;0,800;1,200;1,300;1,400;1,500;1,900&family=Mohave:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Oswald:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,400;0,500;1,400;1,500;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Croissant+One&family=Dancing+Script&family=Kanit:ital,wght@0,300;0,400;0,500;0,700;0,800;1,200;1,300;1,400;1,500;1,900&family=Mohave:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Oswald:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,400;0,500;1,400;1,500;1,900&display=swap');

:root {
  --bg-color: #18344c;
  --primary-color: #3cd65f;
  --text-color: #d9d9d9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins, 'Mohave';
}

html {
  scroll-behavior: smooth;
}

main {
  max-width: 1280px;
  margin: auto;
  min-height: 90vh;
  padding: 10px;
}

body {
  background-color: var(--bg-color);
}

#navbar {
  left: 0px;
  right: 0px;
  top: 0px;
  position: fixed;
}

#icons path {
  fill: var(--primary-color);
}

// Utils
.--icons-border {
  border-color: var(--primary-color);
}

.--text-primary {
  color: var(--primary-color);
}

.--text-secodary {
  color: var(--bg-color);
}

.--bg-primary {
  background-color: var(--primary-color);
}

.--bg-secodary {
  background-color: var(--bg-color);
}

.--text-color {
  color: var(--text-color);
}
#header button {
  background-color: var(--primary-color);
  color: var(--bg-color);
}
#header button:hover {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: 0.5s ease-in-out;
}
.icon:hover {
  color: var(--bg-color);
  border-color: var(--bg-color);
}

li {
  a {
    color: var(--text-color);
  }
  a:hover {
    color: var(--primary-color);
  }
}

.--button-cv:hover {
  background-color: var(--bg-color);
  border-color: var(--primary-color);
  color: var(--primary-color);
  transition: 0.5s ease-in-out;
}

#up_button {
  fill: var(--primary-color);
  bottom: 20px;
  right: 3rem;
  z-index: 99;
}
